node_modules
lib
android/.cxx
android/.gradle
android/.idea
android/build
android/local.properties

example/android/.cxx
example/android/.gradle
example/android/.idea
example/android/build
example/android/local.properties
